<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.aloic.lazybotppplus.entity.mapper.BeatmapMapper">
    <insert id="insertBatchIgnoreDuplicate" parameterType="list">
        INSERT IGNORE INTO beatmap (
        id, title, artist, version, bpm, checksum, sid
        )
        VALUES
        <foreach collection="list" item="map" separator=",">
            (
            #{map.id}, #{map.title}, #{map.artist},
            #{map.version}, #{map.bpm}, #{map.checksum}, #{map.sid}
            )
        </foreach>
    </insert>

    <insert id="insertBatchUpsert" parameterType="list">
        INSERT INTO beatmap (
        id, title, artist, version, bpm, checksum, sid
        )
        VALUES
        <foreach collection="list" item="map" separator=",">
            (
            #{map.id}, #{map.title}, #{map.artist},
            #{map.version}, #{map.bpm}, #{map.checksum}, #{map.sid}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        title = VALUES(title),
        artist = VALUES(artist),
        version = VALUES(version),
        bpm = VALUES(bpm),
        checksum = VALUES(checksum),
        sid = VALUE(sid)
    </insert>

    <select id="selectAllNullSidMaps" resultType="me.aloic.lazybotppplus.entity.po.BeatmapPO">
        SELECT *
        FROM beatmap
        WHERE sid IS NULL
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="updateBeatmapSidById">
        update beatmap
        <set>
            sid=#{sid}
        </set>
        where id =#{id}
    </update>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM beatmap
    </select>

</mapper>
